* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.characters-section {
  background-color: white;
  height: 100vh;
}

.marvel-characters-title {
  background-color: #fd5294;
  width: 100%;
  aspect-ratio: 2 / 1;
  display: flex;
}

.marvel-characters-image {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.marvel-characters-text {
  width: calc(100% / 2);
  aspect-ratio: 1 / 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.marvel-characters {
  display: flex;
  flex-wrap: wrap;
}

.character-title {
  width: 100%;
  background-color: #d04379;
  color: white;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.individual-characters-title {
  width: 100%;
  background-color: #dc4782;
  color: white;
}

.individual-character {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.characters-link {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 2);
  background-color: #dc4782;
}

.characters-link:nth-child(2),
.characters-link:nth-child(5),
.characters-link:nth-child(6),
.characters-link:nth-child(9),
.characters-link:nth-child(10),
.characters-link:nth-child(13),
.characters-link:nth-child(14),
.characters-link:nth-child(17),
.characters-link:nth-child(18),
.characters-link:nth-child(21) {
  background-color: #9c2957;
}
