* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.home-link {
  font-weight: 900;
}

.navigation-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.navigation-ul {
  display: flex;
  gap: 30px;
}

.navigation-ul a {
  text-decoration: none;
  color: black;
}

.nav-logo {
  height: 25px;
}
